/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header Styling */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a2e;
    padding: 15px 20px;
}

.logo {
    width: 50px;
    height: auto;
}

/* Navigation Styling */
.header_ul {
    list-style: none;
    display: flex;
}

.header_ul li {
    margin: 0 15px;
    align-items: center;
}

.header_ul li a:hover{
    color: #008c9e;
    cursor: pointer;
}
.header_ul li a {
    text-decoration: none;
    color: rgb(234, 199, 135);
}